<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPay Admin Dashboard</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">

    <script>
        let dc = JSON.parse('<%-JSON.stringify(dataC)%>')
        let dd = JSON.parse('<%-JSON.stringify(dataD)%>')
    </script>

</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class='sidebar-title'>Main Menu</li>
                        <li class="sidebar-item  ">
                            <a href="/admin" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="/admin/customer" class='sidebar-link'>
                                <i data-feather="user" width="20"></i>
                                <span>Customer Manager</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="/admin/device" class='sidebar-link'>
                                <i data-feather="hard-drive" width="20"></i>
                                <span>Device Manager</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="/admin/code" class='sidebar-link'>
                                <i data-feather="code" width="20"></i>
                                <span>Code on Device</span>
                            </a>
                        </li>

                        <li class="sidebar-item ">
                            <a href="/admin/norun" class='sidebar-link'>
                                <i data-feather="alert-triangle" width="20"></i>
                                <span>Office Device, Alert</span>
                            </a>
                        </li>

                        <li class="sidebar-item ">
                            <a href="/admin/logrun" class='sidebar-link'>
                                <i data-feather="align-left" width="20"></i>
                                <span>Log Run</span>
                            </a>
                        </li>

                        <li class="sidebar-item ">
                            <a href="/admin/logt" class='sidebar-link'>
                                <i data-feather="align-left" width="20"></i>
                                <span>Log Transaction</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/admin/logout" class='sidebar-link'>
                                <i data-feather="log-out" width="20"></i>
                                <span>ออกจากระบบ</span>
                            </a>
                        </li>



                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="main-content container-fluid">

                <!-- Table head options start -->
                <div class="row" id="table-head">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <!-- table head dark -->
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>USER_ID</th>
                                                <th>MAIL</th>
                                                <th>NAME</th>
                                                <th>STATUS DEVICE</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tb">
                                            <script>
                                                console.log(dc);
                                                for (let index = 0; index < dc.length; index++) {
                                                    document.write(`
                                                    <tr class="unread">
                                                <td>
                                                    <h6 class="mb-1">${dc[index].user_id}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">${dc[index].email}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">${dc[index].fname}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="mb-1">${dc[index].name}</h6>
                                                </td>
                                                <td >
                                                    <a href="/admin/device_manager?user_id=${dc[index].user_id}" class="btn btn-outline-info")"><i data-feather="corner-down-right"></i>
                                                    </a>
                                                </td>
                                            </tr>`)

                                                }

                                            </script>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table head options end -->

                
            </div>

        </div>
    </div>
    <script src="/assets/js/feather-icons/feather.min.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>

    <script src="/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>


    <script src="/assets/js/main.js"></script>
</body>

</html>